.avatar {
    background-image: url('images/empty-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    min-height: 285px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    cursor: pointer;
}
